@import "~bootstrap/scss/bootstrap";

body{
  background-color: #EEECEE;
  box-sizing: border-box;
}

.nose{
  bottom: 50rem;
  position: relative;
  right: 5rem;
}

.accesoriesButton{
  margin-right: 1rem;
  color: blue;
  border: 1px solid rgb(164, 164, 241);
  background-color: white;
  width: 5rem;
  border-radius: 25px 25px;
  margin-top: 1rem;
}

.accesoriesButton:hover{
  background-color: blue;
  color: white;
  width: 5rem;
  border-radius: 25px 25px;
  margin-top: 1rem;
  box-shadow: 0 3px 10px rgb(77 77 191);
  font-weight: 500;
}

.accesoriesPanel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panelLength{
  width: 300px;
}

.imageLength{
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin-top: 3rem;
}

.neck{
  position: relative;
    bottom: 4rem;
    right: 5rem;
}

.backgroundLength{
  height: 500px;
  width: 500px;
}

.tiltBackward{
  position: relative;
  right: 28rem;
  bottom: 46rem;
}

.tiltForward{
  position: relative;
  bottom: 91rem;
  right: 28rem;
}

.tiltDefault{
  position: relative;
  right: 28rem;
  bottom: 1rem
}